.works-mobile {
  width: 100%;
  height: 100%;
}
.works-mobile__content {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  flex-direction: column;
}
.works-mobile__img {
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}
.works-mobile__img div {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.works-mobile__text p {
  font-size: var(--font-reg);
  text-transform: uppercase;
}
.works-mobile__btn {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.works-mobile__btn svg {
  fill: var(--color-blue);
}

.works-icon {
  color: var(--color-text);
}

.works-mobile__btn:last-child {
  text-align: right;
}
