.works-mobile__title {
  text-align: left;
}
.works-mobile__content {
  width: 100%;
  flex-direction: column;

  margin-top: 4rem;
}
.works-mobile__img {
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}
.works-mobile__img div {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.works-mobile__text p {
  font-size: var(--font-reg);
  text-transform: uppercase;
}
.works-mobile__btn {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.works-mobile__btn:last-child {
  text-align: right;
}

/* @media screen and (max-width: 599px) {
  .works-mobile__title {
    text-align: left;
  }
  .works-mobile__content {
    width: 100%;
  }
  .works-mobile__item {
    width: 100%;
    text-align: left;
    flex-basis: 100%;
  }
  .works-mobile__item div {
    width: 100%;
  }
} */
