.about {
  width: 100%;
  height: 100%;
}
.about__wrapper {
  height: 100%;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.about__img {
  flex: 1;
  position: relative;
  width: 500px;
  height: 530px;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
}
.about__greeting {
  position: absolute;
  top: 156px;
  font-size: var(--font-xl);
}
.about__greeting > h1 {
  position: absolute;
  opacity: 0;
}
.about__text {
  flex: 2;
}
.about__social {
  margin-top: 1.5rem;
  flex-direction: column;
  gap: 2rem;
}

/* Animations */

@keyframes fadeInOut {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  70% {
    opacity: 1;
  }
  100% {
    /* transform: translateY(10px); */
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}

.about__greeting h1:nth-child(1) {
  animation: fadeInOut 0.6s ease-in 1.2s forwards;
}
.about__greeting h1:nth-child(2) {
  animation: fadeInOut 0.6s ease-in 1.9s forwards;
}
.about__greeting h1:nth-child(3) {
  animation: fadeInOut 0.6s ease-in 2.6s forwards;
}
.about__greeting h1:nth-child(4) {
  animation: fadeIn 0.6s ease-in 3.9s forwards;
}

@media screen and (max-width: 599px) {
  .about__wrapper {
    margin-top: 70px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .about__img {
    flex: 1;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
  }
  .about__greeting {
    display: none;
  }
  .about__text {
    flex: 2;
    text-align: center;
  }
  .about__social {
    margin-top: 1rem;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  .about__social .hero__social--icon svg {
    font-size: 1.6rem;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
}
