.works {
  height: 100%;
}
.works__wrapper {
  height: 100%;
  gap: 2rem;
}
.works__buttons {
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.works__buttons button {
  width: 70%;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7em 1em;
  border: none;
  border: 0.5px solid rgba(32, 37, 41, 0.2);
  box-shadow: 1px 1px 11px 0px rgba(32, 37, 41, 0.2),
    1px 1px 11px 0px rgba(255, 255, 255, 0.8) inset;
  border-radius: 0.55em;
  cursor: pointer;
}

.works__buttons .mixitup-control-active {
  /* background: var(--color-blue); */
  border: none;
  box-shadow: 1px 1px 11px 0px rgba(32, 37, 41, 0.2),
    1px 1px 11px 0px rgba(255, 255, 255, 0.4) inset;
  color: var(--color-blue);
}
/* .works__buttons .mixitup-control-active {
  opacity: 1;
  background-color: var(--color-blue);
  border: 0.5px solid var(--color-bg);
} */

.works__content {
  flex: 3;
  gap: 0.3rem;
  justify-content: space-between;
  align-items: flex-start;
}

.works__item {
  width: 30%;
  margin-bottom: 2rem;
  text-align: center;
}
.works__item div {
  width: 200px;
  height: 130px;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 0 auto;
  filter: grayscale(1);
  -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.2s ease-in-out;
}
.works__item:hover.works__item div {
  filter: grayscale(0);
}
.works__item p {
  font-size: var(--font-reg);
  text-transform: uppercase;
  margin-top: 0.6rem;
}
