@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-family: "PT Sans Caption", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #f2f2f2;
  --color-bg-2: #f0ebdb;

  --color-text: #25282a;
  --color-subtext: #ff8a71;

  /* 12px, 16px, 20px, 52px, 62px */
  --font-sml: 0.785rem;
  --font-reg: 1rem;
  --font-med: 1.25rem;
  --font-lg: 2rem;
  --font-xl: 3rem;
  --font-xxl: 3.975rem;
}
